<tr>
  <td style="padding-top:20px;font-size:18px;padding-left:40px;padding-right:40px;">
    <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;">{{hello}}</strong>
  </td>
</tr>

<tr>
  <td style="font-size:16px;padding-top:10px;padding-left:40px;padding-right:40px;padding-bottom:10px;">
    <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;">{{reason}}</strong>
  </td>
</tr>

<tr>
  <td style="font-size:16px;padding-top:10px;padding-left:40px;padding-right:40px;padding-bottom:10px;">
    <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;">
      {{complaint}}
      <br>
      {{backToPaid}}
      <br>
      {{payToSuffer}}
    </strong>
  </td>
</tr>

<tr>
  <td style="font-size:16px;padding-top:10px;padding-left:40px;padding-right:40px;padding-bottom:10px;">
    <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;">
      {{noTears}}
      {{goBack}}
    </strong>
  </td>
</tr>

<tr>
  <td style="font-size:16px;padding-top:10px;padding-left:40px;padding-right:40px;padding-bottom:10px;">
    <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;">{{advice}}</strong>
  </td>
</tr>

<tr>
  <td style="font-size:16px;padding-top:10px;padding-left:40px;padding-right:40px;">
    <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;">{{goodbye}}</strong>
  </td>
</tr>